<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="#" class="brand-logo center"><span class="brand-logo1">Cart</span>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x"></span></a>
      <a href="#" class="brand-logo2 right"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>

      <div class="row">
        <div class="col s6 m4">
        <div class="card">
            <div class="row">
              <div class="col s12">
                <div class="card-image">
                  <img src="img#">
                </div>
              </div>
            <div class="col s12 m6">
            <div class="card-content">
              <p>{{product[0].productname}}</p>
              <p>{{product[0].pprice}}</p>
              </div>
              
              </div>
            </div>
        
            <div class="card-action">
              <ul class="pagination">
                <li><a href="" class="fa fa-times"><i ></i></a></li>
                <li><input type="number" style="height: 20px;position: relative;border: 2px solid #cdcdcd;border-color: rgba(0,0,0,.14);background-color: AliceBlue;font-size:22px;height:30px;max-width:100px;" min="0" max="10" value="{{qty}}">
                </li><li><a ng-click="minus()" class="btn-floating red lighten-3 waves-effect waves-red btn-flat"><i class="fa fa-minus fa-lg"></i></a></li>
                <li><a ng-click="add()" class="btn-floating green lighten-3 waves-effect waves-green btn-flat"><i class="fa fa-plus fa-lg"></i></a></li>
                
              </ul>
            </div>
           </div>
         </div>
       </div>
</div> 