<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
     
  	</a>
      <a href="#" class="brand-logo center"><span class="brand-logo1">Delivery</span></a>
      <a href="#" class="brand-logo4 right"><span class="fa fa-search fa-2x"></span></a>
     </nav>
</div>

<div class="collection">
    <a  class="collection-item" ng-repeat="w in deliver">{{w.p_name}}<br><span>East-Bajac Bajac Olongapo City</span><span ng-if="w.pr_id==1" class="delivered badge"></span></a> 
  </div>


<div class="footer" style="position:fixed;bottom:0px;width:100%;">
  <div class="col s12">
      <ul class="tabs">
            <li class="tab col s6 waves-effect waves-light light-blue lighten-3" ng-click="go('/deliveryhome')" style="color:black;"><span class="fa fa-home"></span>home</li>
						
            <li class="tab col s6 waves-effect waves-light light-blue lighten-3" ng-click="go('/orders')" style="color:black;"><span class="fa fa-cart-plus"></span>Orders</li>
			</ul>
  </div>     
</div>