<div class="navbar-fixed" id="fixer">
    <nav class="light-blue lighten-1 resposive-img">
      <a href="" class="brand-logo center"><span class="brand-logo1">Order List</span></a>
      <a ng-click="back()" class="btn-back"><span class="fa fa-angle-left fa-3x" style="padding-left:10px;"></span></a>
      <a href="" class="brand-logo5 right"><span class="fa fa-search fa-lg" style="padding-left:13px;"></span></a>
     </nav>
</div>

<div class="collection" >
    <a  class="collection-item" ng-repeat="z in orders">{{z.p_id}}<br><span>{{z.p_name}}</span><span ng-if="z.p_type==0" class="inprogress badge"></span>
    <span ng-if="z.p_type==1" class="delivered badge"></span></a>
</div>

  <div class="footer" style="padding-top: 10px;padding-bottom: 0px;position:fixed;bottom:0px;width:100%;">
            <nav class="light-blue lighten-1 resposive-img waves-effect waves-light">
              <a class="brand-logo center"  ng-click="back()"><span class=""></span></a>
            </nav>
          </div>